<template>
<div class="margin-top">
<h1>Edit Product</h1>
<div class="row">
    <div class="col-8">
    <form @submit.prevent="inputProduct">
      <div class="form-group">
      <label for="nama-product">Nama Product</label>
      <input type="text"
        v-model="product.product_name"
        class="form-control" 
        id="nama-product" 
        placeholder="Nama Product">
      </div>
      <div class="form-group">
      <label for="deskripsi-product">Deskripsi Product</label>
      <textarea class="form-control"
        v-model="product.product_detail"
        id="deskripsi-product" 
        rows="15"
        placeholder="Product Deskripsi"></textarea>
      </div>
    </form>
    </div>
    <div class="col-1"></div>
    <div class="col-3">
      <div class="input-group mb-3">
        <div class="custom-file">
            <input type="file" v-on:change="convert64" class="custom-file-input" id="gambar-product">
            <label class="custom-file-label" for="inputgambar">Pilih Gambar</label>
        </div>
      </div>
      <button class="btn btn-primary">Edit</button>
    </div>
</div>
</div>
</template>

<script>
import axios from 'axios'
import product from '@/components/dashboard-mainpanel/products/productsInput'

export default{
  name: 'editProduct',
  components: {
    product
  },
  data(){
    return{
      product: {
        product_name:"",
        product_detail:"",
        product_image:""
      }
    }
  },
  methods: {
    inputProduct(product_name,product_detail,product_image){
      let formproduct = new FormData();
      formProduct.append("product_name",this.product.product_name);
      formProduct.append("product_description",this.product.product_detail);
      formProduct.append("product_image",this.product.product_image);

    return axios
    .put(`https://gepoint.herokuapp.com/product/${id}`,formProduct)
    .then(Response=> {
      console.log("Berhasil")
      alert("Product Edited!");
      this.$router.push('/admin/product/list');
    })
    }, 
    convert64(event){
        let file = event.target.files[0]
        let reader = new FileReader();
    
        reader.addEventListener("load", () => {
          console.log(this)
          console.log(reader.result)
          this.product.product_image = reader.result;
        }, false);

        if (file) {
          reader.readAsDataURL(file);
      }
    }
  },
  mounted () {
    axios.get(`https://devapiku.herokuapp.com/product/${this.$route.params.id}`)
      .then(res => {
        console.log(res)
        this.product = res.data.data
        this.product.product_name = res.data.data.product_name
        this.product.product_detail = res.data.data.product_detail
        this.product.product_image = res.data.data.product_image
      })
  }
}
</script>

<style scoped>
.row{
  margin: 50px;
}
.col-8{
  padding: 10px;
}
.col-3{
  padding: 30px;
}
</style>
