<template>
    <div id="margin-top">
        <h1>Products</h1>
        <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
            <th scope="col">Product</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            
            <tr v-for="(product,index) in products.data" :key="index">
                <td>{{product.product_name}}</td>
                <td>
                    <p>
                        {{product.product_detail}}
                    </p>
                </td>
                <td>
                    <img :src="product.image" alt=""> <br>
                    <a :href="product.image">img source</a>
                </td>
                <td class="flexbutton">
                    <a :href="'/#/admin/products/edit/' + product.id">
                        <b-button variant="success" size="sm">edit</b-button>
                    </a>
                    <a :href="'/#/admin/products/delete/' + product.id">
                        <b-button variant="danger" size="sm">Delete</b-button>
                    </a>

                </td>
            </tr>
        </tbody>
        </table>
        
        <router-link to="/admin/products/create" >
            <b-button variant="success">Add Product</b-button>
        </router-link>
    </div>
</template>

<script>
import axios from "axios"
export default {
    data() {
        return {
            products: []
        }
    },
    mounted() {
        let token = localStorage.getItem('token')
        // console.log(token);
        axios.get('https://gepoint.herokuapp.com/product', {
        headers: {
            Authorization: token
        }
        })
        .then(response => {
            this.products = response.data
            // console.log(response.data.products)
            // console.log(response.data.products.product_detail)
            console.log("data", response.data);
        });
    }
}
</script>

<style>

img{
    width: 30%;
}

</style>
