<template>
<div class="margin-top">
<h1>{{productSubmit}}</h1>
<div class="row">
    <div class="col-8">
    <form @submit.prevent="inputProduct">
      <div class="form-group">
      <label for="nama-product">Nama Product</label>
      <input type="text"
        v-model="productInput.product_name"
        class="form-control" 
        id="nama-product" 
        placeholder="Nama Product">
      </div>
      <div class="form-group">
      <label for="deskripsi-product">Deskripsi Product</label>
      <textarea class="form-control"
        v-model="productInput.product_detail"
        id="deskripsi-product" 
        rows="15"
        placeholder="Product Deskripsi"></textarea>
      </div>
    </form>
    </div>
    <div class="col-1"></div>
    <div class="col-3">
      <div class="input-group mb-3">
        <div class="custom-file">
            <input type="file" v-on:change="(event) => productInput.product_image = event.target.files[0]" class="custom-file-input" id="gambar-product">
            <label class="custom-file-label" for="inputgambar">Pilih Gambar</label>
        </div>
      </div>
      <button class="btn btn-primary">{{productSubmit}}</button>
    </div>
</div>
</div>
</template>

<script>
import axios from 'axios'
export default{
  name: 'product',
  props: {
    productSubmit: String,
    productInput: {
      type: Object,
      default: () => {
        return {
          product_name: '',
          product_detail:"",
          product_image:""  
        }
      }
    }
  },
  data () {
    return {
      product: {
        product_name: '',
        product_detail:"",
        product_image:""
      }
    }
  }
}
</script>

<style scoped>
.row{
  margin: 0px;
}
.col-8{
  padding: 10px;
}
.col-3{
  padding: 10px;
  padding-top: 40px;
}
button{
  width: 100%;
}
</style>
