<template>
<div class="margin-top">
<h1>Create Deals</h1>
<div class="row">
    <div class="col-8">
    <form @submit.prevent="inputDeals">
        <div class="form-group">
            <label for="nama-deals">Nama Deals <font-awesome-icon icon="coffee"/></label>
            <input v-model="deals.title" type="text" class="form-control" id="nama-deals">
        </div>
        <div class="form-group">
            <label for="deskripsi-deals">Deskripsi Deals</label>
            <textarea v-model="deals.deals_detail" class="form-control" id="deskripsi-deals" rows="15"></textarea>
        </div>
    </form>
    </div>
    <div class="col-1"></div>
    <div class="col-3">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="start-deals">Start Date</span>
        </div>
        <input v-model="deals.date_start" type="date" class="form-control" placeholder="">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="end-deals">End Date&nbsp;</span>
        </div>
        <input v-model="deals.date_end" type="date" class="form-control" placeholder="">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="point-deals">Point&emsp;&emsp;</span>
        </div>
        <input v-model="deals.point" type="text" class="form-control" placeholder="Jumlah Point">
      </div>
      <div class="input-group mb-3">
        <div class="custom-file">
          <input type="file" v-on:change="convert64" class="custom-file-input" id="gambar-product">
          <label class="custom-file-label" for="inputgambar">Pilih Gambar</label>
          <input v-model="deals.deals_image" type="text" class="form-control" placeholder="URL Gambar">          
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Create Deals</button>
    </div>
</div>
</div>
</template>

<script>
import deals from '@/components/dashboard-mainpanel/deals/dealsInput'

export default{
  name: 'createDeals',
  components: {
    deals
  },
  data(){
    return{
      deals: {
        title:"",
        deals_detail:"",
        date_start:"",
        date_end:"",
        point:"",
        deals_image:""
      }
    }
  },
  methods: {
    inputDeals(title,deals_detail,date_start,date_end,point,deals_image){
      let formDeals = new FormData();
      formDeals.append("title",this.deals.title);
      formDeals.append("deals_description",this.deals.deals_detail);
      formDeals.append("date_start",this.deals.date_start);
      formDeals.append("date_end",this.deals.date_end);
      formDeals.append("point",this.deals.point);
      formDeals.append("deals_image",this.deals.deals_image);

    return axios
    .post("https://gepoint.herokuapp.com/admin/deals",formDeals)
    .then(Response=> {
      alert("Deals Added!");
      this.$router.push('/admin/deals');
    })
    }
  },
  convert64(event){
      let file = event.target.files[0]
      let reader = new FileReader();
   
      reader.addEventListener("load", () => {
        console.log(this)
        console.log(reader.result)
        this.product.product_image = reader.result;
      }, false);

      if (file) {
        reader.readAsDataURL(file);
      }
    }
}
</script>

<style scoped>
</style>
