<template>
    <div id="margin-top">
        <h1>Deals</h1>
        <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Point</th>
            <th scope="col">Image</th>
            <th scope="col">Action</th>
            
            </tr>
        </thead>
        <tbody>
            <tr v-for="(deal,index) in deals" :key="index">
                <td>{{deal.name}}</td>
                <td>{{deal.description}}</td>
                <td>{{deal.start}}</td>
                <td>{{deal.end}}</td>
                <td>{{deal.point}}</td>
                <td>
                    <img :src="deal.image" alt=""> <br>
                    <a :href="deal.image">img source</a>
                </td>
                <td>
                    <b-button-group>
                        <b-button variant="success" size="sm" to="/admin/deals/edit/">Edit</b-button>
                        <b-button variant="danger" size="sm"> Del</b-button>
                    </b-button-group>
                </td>
            </tr>
        </tbody>
        </table>
        
        <router-link to="/admin/deals/create" >
            <b-button variant="success">Add Deal</b-button>
        </router-link>
    </div>
</template>

<script>
import axios from 'axios'
export default{
    data() {
        return {
            deals: []
        }
    },
    mounted() {
        let token = localStorage.getItem('token')
        // console.log(token);
        axios.get('https://gepoint.herokuapp.com/admin/deals', {
        headers: {
            Authorization: token
        }
        })
        .then(response => {
            this.deals = response.data
            // console.log(response.data.products)
            // console.log(response.data.products.product_detail)
            console.log("data", response.data);
        });
    }
}
</script>

<style>
img{
    width: 30%;
}
</style>
