<template>
<div class="margin-top">
<h1>{{aksiSubmit}}</h1>
<div class="row">
    <div class="col-8">
    <form @submit.prevent="inputDeals">
        <div class="form-group">
            <label for="nama-deals">Nama Deals <font-awesome-icon icon="coffee"/></label>
            <input v-model="deals.title" type="text" class="form-control" id="nama-deals">
        </div>
        <div class="form-group">
            <label for="deskripsi-deals">Deskripsi Deals</label>
            <textarea v-model="deals.deals_detail" class="form-control" id="deskripsi-deals" rows="15"></textarea>
        </div>
    </form>
    </div>
    <div class="col-1"></div>
    <div class="col-3">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="start-deals">Start Date</span>
        </div>
        <input v-model="deals.date_start" type="date" class="form-control" placeholder="">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="end-deals">End Date&nbsp;</span>
        </div>
        <input v-model="deals.date_end" type="date" class="form-control" placeholder="">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="point-deals">Point&emsp;&emsp;</span>
        </div>
        <input v-model="deals.point" type="text" class="form-control" placeholder="Jumlah Point">
      </div>
      <div class="input-group mb-3">
        <div class="custom-file">
          <!-- <input type="file" class="custom-file-input" id="gambar-deals"> -->
          <label class="custom-file-label" for="inputgambar">Pilih Gambar</label>
          <input v-model="deals.deals_image" type="text" class="form-control" placeholder="URL Gambar">          
        </div>
      </div>
      <button type="submit" class="btn btn-primary">{{aksiSubmit}}</button>
    </div>
</div>
</div>
</template>

<script>
import axois from 'axios'
export default{
  name: 'deals',
  props: [
    'aksiSubmit'
  ],
  data () {
    return {
      deals: {
        title:'',
        deals_detail:'',
        date_start:'',
        date_end:'',
        point:'',
        deals_image:''
      }
    }
  }
}
</script>

<style scoped>
.row{
  margin: 0px;
}
.col-8{
  padding: 10px;
}
.col-3{
  padding: 10px;
  padding-top: 40px;
}
button{
  width: 100%;
}
::-webkit-input-placeholder {
   text-align: left;
}
</style>
