<template>
    <div id="margin-top">
        <h1>App Setting List</h1>
        <table class="table table-bordered" id="news-list">
        <thead class="table-dark">
            <tr>
            <th scope="col">Time</th>
            <th scope="col">Image</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(bground,index) in bgrounds" :key="index">
                <td>{{bground.time}}</td>
                <td>
                    <img :src='news.imgsrc' class="img-fluid">
                    <a :href="news.imgsrc">img source</a>
                </td>
                <td>
                    <b-button-group>
                        <b-button variant="success" size="sm">Edit</b-button>
                        <b-button variant="danger" size="sm" id="delete-news"> Del</b-button>
                    </b-button-group>
                </td>
            </tr>
        </tbody>
        </table>
        
        <router-link to="/admin" >
            <b-button variant="success">Add Setting</b-button>
        </router-link>
    </div>
</template>

<script>
export default {
    data() {
        return {
        bgrounds: [
            ]
        }
    }
}
</script>

<style>
.flexbutton{
    display: flex;
    height: auto;
    padding: auto;
}

img{
    width: 100%;
}

.scroll {
    height: 100px;
    overflow-y: scroll;
    overflow-y: hide;
    display: block;
}

.image-list {
    height: 100px;
    width: 100px;
}

.title-list {
    height: 100px;
    width: 200px;
}

.date-list {
    width: 100px;
}

</style>
