<template>
  <div>
    <div class="margin-top">
      <h1>Setting App (Background)</h1>
      <b-container>
        <b-row>
          <b-col cols="4">
            <b-form-file accept="image/*" :state="Boolean(file)" placeholder="Choose a file..."></b-form-file>
          </b-col>
        </b-row>
      </b-container>
      
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
