<template>
    <div>
        <b-navbar toggleable="md" type="dark" variant="light" class="nav-1">
            <b-navbar-brand href="#">
                    <img    src="../../assets/logo-background-trans.png"
                            srcset="../../assets/logo-background-trans@2x.png 2x,
                                    ../../assets/logo-background-trans@3x.png 3x"
                            class="logo-background-trans">
            </b-navbar-brand>
        </b-navbar>
        <b-navbar toggleable="md" type="dark" variant="dark" class="nav-2">
            <b-navbar-brand href="#" id="brand-text-box">
                <div class="ge-point">
                    GE-POINT
                </div>
            </b-navbar-brand>
        </b-navbar>
        
        <img    src="../../assets/rectangle-2.png"
                srcset="../../assets/rectangle-2@2x.png 2x,
                        ../../assets/rectangle-2@3x.png 3x" 
                fluid
                class="Rectangle-2"/>
        <div class="overlay-text">
            <h1 class="overlay-text-title"> <strong>RECEIVE REWARD</strong> <br> <strong>WITH GE-POINT</strong></h1>
            <p class="overlay-text-content">    GE-POINTS is the loyalty program from Team B <br> 
                                                exclusively Insurance Customers. Receive points for <br> 
                                                each of your premium transactions or breaking egg <br> 
                                                point daily, collect points and get fantastic rewards.
            </p>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>
    .logo-background-trans {
        width: 70px;
        height: 70px;
        object-fit: contain;
        margin-left: 70.7px;
        }

    .Rectangle-2 {
        width: 100%;
        height: 100%;
        border-width:0px;
        overflow-x:hidden; 
        }
    
    .ge-point {
        width: 98px;
        height: 24px;
        font-size: 14px;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        }

    #brand-text-box{
        height: 100%;
        background-color: #ffa500; 
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -8.5px;
        margin-bottom: -8.5px;
        margin-left: 53px;
    }


    .overlay-text-title{
        position: absolute;
        right: 81px;
        top: 220px;
        font-size: 50px;
        text-align: center;
        color:rgb(255, 255, 255);
        text-shadow: 2px 2px 5px #000000;
    }

    .overlay-text-content{
        position: absolute;
        right: 55px;
        top: 386px;
        font-size: 20px;
        color: #ffffff;
        line-break: 1px;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.3);
    }

    @media only screen and (max-width: 900px){
        .overlay-text-title{
            position: absolute;
            right: 81px;
            top: 180px; /*minus 40px */
            font-size: 40px; /*minus 10px */
            text-align: center;
            color:rgb(255, 255, 255);
            text-shadow: 2px 2px 5px #000000;
        }

        .overlay-text-content{
        position: absolute;
        right: 55px;
        top: 326px; /*minus 40px*/
        font-size: 15px; /*minus 5px */
        color: #ffffff;
        line-break: 1px;
        text-shadow: 2px 2px 5px #000000;
    }
    }

    @media only screen and (max-width: 700px){
        .overlay-text-title{
            position: absolute;
            right: 81px;
            top: 140px; /*minus 40px */
            font-size: 40px; /*minus 10px */
            text-align: center;
            color:rgb(255, 255, 255);
            text-shadow: 2px 2px 5px #000000;
        }

        .overlay-text-content{
        position: absolute;
        right: 55px;
        top: 286px; /*minus 40px*/
        font-size: 15px; /*minus 5px */
        color: #ffffff;
        line-break: 1px;
        text-shadow: 2px 2px 5px #000000;
    }
    }

    @media only screen and (max-width: 600px){
        .overlay-text-title{
            position: absolute;
            right: 81px;
            top: 140px; /*minus 40px */
            font-size: 25px; /*minus 15px */
            text-align: center;
            color:rgb(255, 255, 255);
            text-shadow: 2px 2px 5px #000000;
        }

        .overlay-text-content{
        position: absolute;
        right: 55px;
        top: 246px; /*minus 40px*/
        font-size: 12px; /*minus 3px */
        color: #ffffff;
        line-break: 1px;
        text-shadow: 2px 2px 5px #000000;
    }
    }

    @media only screen and (max-width: 460px){
        .overlay-text-title{
            position: relative;
            top: auto;
            right: auto;
            text-align: center;
            color:rgb(104, 104, 104);
            text-shadow: 0px 0px 0px;
        }

        .overlay-text-content{
        position: relative;
        top: -10px;
        right: auto;
        text-align: center;
        font-size: 12px; /*minus 3px */
        color: rgb(104, 104, 104);
        text-shadow: 0px 0px 0px;
        background-color: rgba(0, 0, 0, 0);

    }

    .logo-background-trans{
        margin-left: 20px;
    }

    #brand-text-box{
        margin-left: 20px
    }
    }

    @media only screen and (max-width: 360px){
        .logo-background-trans{
            margin-left: 10px;
            height: 50px;
            width: 50px;
        }

        .nav-1{
            height: 60px;
        }

        .nav-2{
            height: 0px;
        }

        #brand-text-box{
            visibility: hidden;
        }

    }

</style>
