<template>
    <div>
        <div class="title-middle-1">HOW TO USE GE-POINT</div>
        <b-container class="step">
            <b-row>
                <b-col class="step-img-1">
                    <img src="../../assets/premium.png" alt="">
                </b-col>
                <b-col class="step-img">
                    <img src="../../assets/displaytelur.png" alt="">
                </b-col>
                <b-col class="step-img">
                    <img src="../../assets/displayrewards.png" alt="">
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <h3 class="step-number">1</h3>
                    <p class="step-exp">Premium Transaction</p>
                </b-col>
                <b-col>
                    <h3 class="step-number">2</h3>
                    <p class="step-exp">Break Your Daily Egg Points</p>
                </b-col>
                <b-col>
                    <h3 class="step-number">3</h3>
                    <p class="step-exp">Redeem Your Points and Get Some Special Offers</p>
                </b-col>
            </b-row>
        </b-container>

        <b-container>
            <h1>Our Partners</h1>
            <b-row class="partners">
                <b-col>
                    <h2>Insurance</h2>
                    <img src="../../assets/insurance.png" alt="" class="img-thumbnail">
                </b-col>
                <b-col>
                    <h2>Games</h2>
                    <img src="../../assets/games.png" alt="" class="img-thumbnail">
                </b-col>
                <b-col>
                    <h2>Traveling</h2>
                    <img src="../../assets/traveling.png" alt="" class="img-thumbnail">
                </b-col>
            </b-row>

        </b-container>
    </div>
</template>

<script>
export default {

}
</script>

<style>
    .title-middle-1{
        display: block;
        text-align: center;
        font-size: 30px;
        color: #FFA500;
    }

    .step{
        margin-top: 24px;
    }
    
    .step-number{
        display: block;
        text-align: center;
        font-size: 30px;
        color: #FFA500;
    }
    .step-img{
        display: flex;
        width: 182.7px;
        height: 340.8px;;
        justify-content: center;
        align-items: center;
    }
    .step-img-1{
        display: flex;
        width: 150px;
        height: 150px;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    .step-exp{
        text-align: center;
        font-size: 15px;
        color: #707070;
    }
    .partners{
        margin-top: 40px;
        display: flex;

    }
</style>
