<template>
<div class="row">
  <div class="col-sm-5">
    <img src="../../assets/bottom/mobilePhone.png"
     class="mobilephone">
  </div>
  <div class="col-sm-6">
    <div class="gepoint">
      <p class="Download-GE-POINT">Download GE-POINT</p> 
      <p class="Download-GE-POINT-desc">Download GE-POINT now and enjoy fantastic rewards from Us</p>
      <div class="download">
        <img src="../../assets/bottom/appStore.png"
        class="appStore">
        <img src="../../assets/bottom/playStore.png"
        class="playStore">
      </div>
    </div>
  </div>
</div>

</template>

<script>
export default{

}
</script>

<style scoped>
.row{
  background-image: linear-gradient(246deg, #006cff, #c90000);
  background-size: 100%;
  position: cover;
}
.Rectangle-13 {
  width: 1366px;
  height: 602.4px;
  object-fit: contain;
  opacity: 1;
  background-image: linear-gradient(246deg, #006cff, #c90000);
}
.mobilephone {
  width: 354px;
  height: 504px;
  padding-top: 10%;
  padding-left: 10%;
  object-fit: contain;
}
.row{
  padding-bottom: 0px;
}
.col-sm-6{
  padding: 5%;
}
.Download-GE-POINT {
  width: 524px;
  height: 64px;
  float: left;
  /*font-family: Krungthep;*/
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  color: #ffffff;
}
.Download-GE-POINT-desc {
  width: 498px;
  height: 71px;
  font-family: HelveticaNeue;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.gepoint{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  position: relative;
}
.download{
  padding-top: 20%;
}
.appStore {
  width: 250px;
  height: 74.2px;
  display: block;
  margin: auto;
  object-fit: contain;
}
.playStore{
  width: 250px;
  height: 78.1px;
  display: block;
  margin: auto;
  object-fit: contain;
}

@media only screen and (max-width: 768px){
  .Download-GE-POINT{
    visibility: hidden;
  }
  .Download-GE-POINT-desc{
    visibility: hidden;
  }
}

</style>