<template>
    <div id="margin-top">
        <h1>Users List</h1>
        <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Gender</th>
            <th scope="col">NIK</th>
            <th scope="col">Policy Number</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(user,index) in users" :key="index">
                <td>{{user.firstname}} {{user.lastname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.gender}}</td>
                <td>{{user.nik}}</td>
                <td>{{user.policy}}</td>
                <td>
                    <b-button-group>
                        <b-button variant="primary" size="sm">Detail</b-button>
                        <b-button variant="success" size="sm">Edit</b-button>
                        <b-button variant="danger" size="sm"> Del</b-button>
                    </b-button-group>
                </td>
            </tr>
        </tbody>
        </table>
        
        <router-link to="" >
            <b-button variant="success">Add Product</b-button>
        </router-link>
    </div>
</template>

<script>
export default {
    data() {
        return {
            users: [
                {
                    firstname: 'Awan',
                    lastname: 'Setiawan',
                    email: 'awan@setiawan.com',
                    phone: '081081081081',
                    gender: 'L' ,
                    nik: '123123123',
                    policy: '123123123'
                }
              
            ]
        }
    }
}
</script>

<style>

img{
    width: 30%;
}
</style>
