<template v-if="cekSesi == true">
<div class="center">
    <b-container class="center">
        <div class="image">
        <img src="../assets/gepoint.png" alt="">
        </div>
        <h1>Administrator</h1>
        <b-form @keyup.enter="logItIn">
        <b-form-group id="input-email">
        <b-form-input id="email"
            type="text"
            v-model="login.email"
            required
            placeholder="e-mail">
        </b-form-input>
        </b-form-group>

        <b-form-group id="input-password">
            <!--hide password-->
        <b-input-group>
            <b-form-input id="hide-password"
                type="password"
                v-model="login.password"
                v-show="!showPass"
                required
                placeholder="Password">
            </b-form-input>
            <b-input-group-append>
                <b-btn variant="outline-secondary" @click="showPass=true" v-show="!showPass">
                    <span >
                        <font-awesome-icon icon="eye" />
                    </span>
                </b-btn>
            </b-input-group-append>
        </b-input-group>
        <!--show password-->
        <b-input-group>
            <b-form-input id="show-password"
                        type="text"
                        v-model="login.password"
                        v-show="showPass"
                        required
                        placeholder="Password">
            </b-form-input>
            <b-input-group-append>
                <b-btn variant="outline-secondary" @click="showPass=false" v-show="showPass">
                    <span >
                        <font-awesome-icon icon="eye-slash" />
                    </span>
                </b-btn>
            </b-input-group-append>
        </b-input-group>
        </b-form-group>
        <div class="button" >
            <b-button  type="submit" success @click='logItIn' class="btn btn-primary">Login</b-button>
        </div>
        </b-form>
    </b-container>
    <p>{{this.$session.id()}}</p>
</div>
</template>

<script>
import axios from 'axios'
import jsonwebtoken from 'jsonwebtoken'
import VueSession from 'vue-session'

export default{
  data() {
    return {
      login: {
        email: '',
        password: ''
      },
      show: true,
      showPass: false
    }
  },
  methods:{
    logItIn(){
      axios.post('https://gepoint.herokuapp.com/user/login',this.login)
      .then(response => {
        let token=response.data.token;
        console.log(token);
        this.$session.start()
        // this.$session.set('jwt', token)
        console.log(this.$session.id())
        // console.log(this.$session.get('jwt'))
        localStorage.setItem('token',token);
            this.$router.push('/admin');
      });
    }
  },
  beforeCreate: function () {
    if(this.$session.exists()){
        this.$router.push('/admin')
    }
  }
}
</script>

<style>
    .box {
        width: 300px;
        height: 430px;
    }
    .center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px;
       
    }

    .button {
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
    }

    .image {
      width: 200px;
      height: 200px;
    }

    img {
      width: 100%;
    }
</style>
