<template>
  <div class="row">
  <div class="col-2">
    <ul class="nav flex-column">
      <li class="nav-item">
        <router-link class="nav-link" to="">Home</router-link>
      </li>
      <li class="nav-item">
        <router-link class="nav-link" to="">News</router-link>
      </li>
      <li class="nav-item">
        <router-link class="nav-link" to="">Product</router-link>
      </li>
      <li class="nav-item">
        <router-link class="nav-link" to="">Hospital</router-link>
      </li>
      <li class="nav-item">
        <router-link class="nav-link" to="">Deals</router-link>
      </li>
      <li class="nav-item">
        <router-link class="nav-link" to="">User Info</router-link>
      </li>
      <li class="nav-item">
        <router-link class="nav-link" to="">App Setting</router-link>
      </li>
      <li class="nav-item">
        <router-link class="nav-link" to="">Logout</router-link>
      </li>
    </ul>
  </div>
  
  <div class="col-10">

  </div>
</div>
</template>

<script>
export default {
  
}
</script>

<style>
.nav .flex-column{
  background-color: #ffffff;
}
.nav-item{
  background-color: #ffffff;
  border: solid 1px rgba(112, 112, 112, 0.2);
}
.nav-link{
  opacity: 0.9;
  font-family: Helvetica Neue LT Std-55-Roman;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
</style>
