<template>
    <div>
        <landing-top></landing-top>
        <landing-middle class="space"></landing-middle>
        <landing-bottom class="space"></landing-bottom>
    </div>
</template>

<script>
import landingTop from './landingpage-parts/landingTop'
import landingMiddle from './landingpage-parts/landingMiddle'
import landingBottom from './landingpage-parts/landingBottom'

export default {
    components:{
        landingTop, landingMiddle, landingBottom
    }

}
</script>

<style>
    .space{
        margin-top: 5%;
    }
</style>
