<template>
    <hospital-input hospital-submit='Add New Hospital'></hospital-input>
</template>

<script>
import hospitalInput from'./dbHospitalInput'
export default {
  components:{
    hospitalInput
  }
}
</script>