<template>
    <div id="margin-top">
        <h1>Hospital</h1>
        <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">Phone</th>
            <th scope="col">Latitude</th>
            <th scope="col">Longitude</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(hospital,index) in hospitals" :key="index">
                <td>{{hospital.name}}</td>
                <td>{{hospital.address}}</td>
                <td>{{hospital.city}}</td>
                <td>{{hospital.phone}}</td>
                <td>{{hospital.latitude}}</td>
                <td>{{hospital.longitude}}</td>
                <td>
                    <b-button-group>
                        <b-button variant="success" size="sm" to="/admin/hospital/edit/">Edit</b-button>
                        <b-button variant="danger" size="sm"> Del</b-button>
                    </b-button-group>
                </td>
            </tr>
        </tbody>
        </table>
        
        <router-link to="/admin/hospital/create" >
            <b-button variant="success">Add Hospital</b-button>
        </router-link>
    </div>
</template>

<script>
export default {
    data() {
        return {
        hospitals: [
            {
                name:'Hospital 1',
                address: 'Jalan kebenaran 1, Sleman, Daerah Istimewa Yogyakarta',
                phone:'08888888888',
                city: 'Yogyakarta',
                latitude:'xxxxxxxxxxxxx',
                longitude:'yyyyyyyyyyy'
            },
            {
                name:'Hospital 2',
                address: 'Jalan kebenaran 1, Sleman, Daerah Istimewa Yogyakarta',
                phone:'08888888888',
                city: 'Yogyakarta',
                latitude:'xxxxxxxxxxxxx',
                longitude:'yyyyyyyyyyy'
            },
            {
                name:'Hospital 3',
                address: 'Jalan kebenaran 1, Sleman, Daerah Istimewa Yogyakarta',
                phone:'08888888888',
                city: 'Yogyakarta',
                latitude:'xxxxxxxxxxxxx',
                longitude:'yyyyyyyyyyy'
            }]
        }
    }
}
</script>

<style>
.flexbutton{
    display: flex;
}

</style>
