<template>
    <div class="margin-top">
        <h1>Create News</h1>
        <form @submit.prevent='inputNews'>
            <div class="form-group">
            <input type="text" class="form-control" placeholder="Title" v-model="news.news_title">
            </div>
            <div class="form-group">
                <input type="text-area" class="form-control" placeholder="news detail" v-model="news.news_detail">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="image" v-model="news.news_image">
            </div>
            <button class="btn btn-primary">Add</button>
            </form>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    
    data() {
    return {
      news: {
        news_title:"",
        news_detail:"",
        news_image:"",
        created_at:""
      }
    }
  },
  methods: {
    inputNews(news_title, news_detail, news_image) {
      let formNews = new FormData();
      

      formNews.append('news_title',this.news.news_title);
      formNews.append('news_detail',this.news.news_detail);
      formNews.append('news_image',this.news.news_image);

    return axios
    
    .post('https://gepoint.herokuapp.com/news_info/create',{
      headers: {
            'Content-Type': "application/json", 
            'Authorization': localStorage.getItem('token')
        },
        body: {
            formNews
        }
    })
    .then(res => {
      console.log(res)
      //alert('Product Added!');
      //this.$router.push('/admin/news');
    })
    }
  }
}
</script>

<style>

</style>
