<template>
    <div id="margin-top">
        <h1>News</h1>
        <table class="table table-bordered" id="news-list">
        <thead class="table-dark">
            <tr>
            <th scope="col">Title</th>
            <th scope="col">Created at</th>
            <th scope="col">Content</th>
            <th scope="col">Thumbnail</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(news,index) in news.data" :key="index">
                <td>{{news.news_title}}</td>
                <td>{{news.created_at}}</td>
                <td>
                    {{news.news_detail}}
                </td>
                <td class="image-list">
                    <img :src='news.news_image'>
                    <a :href="news.news_image">img source</a>
                </td>
                <td>
                    <b-button-group>
                        <a :href="'/#/admin/news/edit/'+ news.id">
                            <b-button variant="success" size="sm">Edit</b-button>
                        </a>
                        
                        <b-button variant="danger" size="sm"> Del</b-button>
                    </b-button-group>
                </td>
            </tr>
        </tbody>
        </table>
        
        <router-link to="/admin/news/create" >
            <b-button variant="success">Add News</b-button>
        </router-link>
    </div>
</template>

<script>
import axios from "axios"
export default {
    data() {
        return {
        news: []
        }
    },
    mounted() {
        let token = localStorage.getItem('token')
        // console.log(token);
        axios.get('https://gepoint.herokuapp.com/news_info', {
        headers: {
            Authorization: token
        }
        })
        .then(response => {
            this.news = response.data
            // console.log(response.data.products)
            // console.log(response.data.products.product_detail)
            console.log("data", response.data);
        });
    }
}
</script>

<style>
.flexbutton{
    display: flex;
    height: auto;
    padding: auto;
}

img{
    width: 100%;
}

.scroll {
    height: 100px;
    overflow-y: scroll;
    overflow-y: hide;
    display: block;
}

.image-list {
    height: 100px;
    width: 100px;
}

.title-list {
    height: 100px;
    width: 200px;
}

.date-list {
    width: 100px;
}

</style>
